#background {
    position: fixed;
    bottom: 0;
    height: 90vh;
    width: calc(100vw - 10px);
    min-width: 2000px;
    z-index: -1;
    overflow: hidden;

    #sun{
      z-index: 2;
      position: absolute;
      left: 20vw;
      width: 10em;
    }

    #valley{
      z-index: 1;
      transform: scaleX(-1);
      filter: sepia(1);
      bottom: 0;
      min-height: calc(100vh - 6em);
      position: absolute;
    }
    
}